.callout {
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.site-main {
  h2 {
    margin-bottom: rem-calc(24);
  }
}

.docs-section {
  margin-bottom: rem-calc(100);

  h3 {
    border-bottom: 1px solid $secondary-color;
  }
}
